.app-header
  padding 20px
  vertical-align middle

  .logo
    width 50px
    display inline-block
    vertical-align middle

  h2.title
    display inline-block
    font-family 'Open Sans', sans-serif
    padding 0 20px
    position relative
    top 5px