.upload-button-component
  .upload-button
    display: block;
    padding: 18px 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 250px;
    height: 70px;
    border: 2px solid #D9DD92;
    border-radius: 40px;
    background: #D9DD92;
    color: #311E10;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;

    span
      -webkit-transition: opacity 0.3s 0.1s;
      transition: opacity 0.3s 0.1s;

    &.loading
      width: 70px;
      border-width: 5px;
      border-color: #ddd;
      background-color: transparent;
      color: #fff;

      span
        opacity: 0;


  input[type=file]
    visibility hidden
