@-webkit-keyframes preloader
  from
    transform rotateY(0deg);
  to
    transform rotateY(360deg);

@keyframes preloader
  from
    transform rotateY(0deg);
  to
    transform rotateY(360deg);


.load-image
  position absolute
  height 150px
  width 150px
  top 50%
  left 50%
  margin-left -75px
  margin-top -75px
  animation: preloader 1s infinite;


