@-webkit-keyframes preloader
  from
    transform rotateY(0deg);
  to
    transform rotateY(360deg);

@keyframes preloader
  from
    transform rotateY(0deg);
  to
    transform rotateY(360deg);


.app
  text-align center

  .welcome-logo
    margin-top 200px
    width 200px
    animation preloader 1.5s infinite;
    transition margin-top .5s .5s, width .5s .5s;

  .brand-name
    color #DD6031
    font-size 2.3em
    margin 0
    opacity 0
    transition opacity 0.3s

  .gene-upload-button
    margin-top 100px
    opacity 0
    transition margin-top .0s 1s, opacity 0.5s;

  .children-block
    opacity 0
    overflow hidden
    height 0
    transition opacity 0.4s

  .error-block
    opacity 0
    position absolute
    top 0
    left 0
    transition opacity .4s .3s, margin-right .5s
    text-align center
    margin 5px
    padding 10px
    background-color #da4712
    color #fff

  .list-button
    padding: 18px 0;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top 20px
    width: 250px;
    height: 70px;
    border: 2px solid #d9dd92;
    border-radius: 40px;
    background: #d9dd92;
    color: #311e10;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration none;
    font-family: 'Open Sans', sans-serif;
    opacity 0
    display none
    transition margin-top .0s 1s, opacity 0.5s;

  .button-base
    font-size: 1.3em;
    padding: 10px 20px;
    display: inline-block;
    background: #ba471e;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

  .clear-store
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    background: #ba471e;
    margin: 5px;
    cursor: pointer;
    opacity 0
    z-index -1

    &.active
      opacity 1
      z-index 1

    img
      width 100%

    .modal
      position: absolute;
      top: 60px;
      border-radius 5px
      width: 200px;
      right: 0;
      padding 10px;
      font-size: 0.8em;
      background: #d9dd92;
      opacity 0
      z-index -1
      transition opacity .5s

      &.open
        opacity 1
        z-index 1

      .text
        width 100%
        display inline-block
        margin-bottom 5px

      .cancel
        background: #ba471e;
        color: #fff;
        border-radius: 3px;
        padding: 2px 7px;
        font-size 1em
        margin-right 10px

      .yes
        background: #739c5b;
        color: #fff;
        border-radius: 3px;
        padding: 2px 7px;
        font-size 1em

  &.welcome
    .welcome-logo
      animation preloader .5s 1;
      width 150px
      margin-top 100px
      transition margin-top .5s, width .5s;

    .brand-name
      opacity 1
      transition opacity 0.5s 0.3s

    .gene-upload-button
      margin-top 50px;
      opacity 1
      transition margin-top .5s, opacity 0.5s .6s;

    .list-button
      display block
      opacity 1

  &.ready
    .welcome-logo
      animation preloader .5s 1;
      width 120px
      margin-top 50px
      transition margin-top .5s, width .5s;

    .brand-name
    .gene-upload-button
      display none

    .children-block
      opacity 1
      height auto
      transition opacity 0.5s 0.5s
  &.error
    .welcome-logo
      animation preloader .5s 1;
      width 150px
      margin-top 100px
      transition margin-top .5s, width .5s;

    .brand-name
      opacity 1
      transition opacity 0.5s 0.3s

    .gene-upload-button
      margin-top 50px;
      opacity 1
      transition margin-top .5s, opacity 0.5s .6s;

    .error-block
      opacity 1







