#info
  width 100%

  h3
    text-transform uppercase
    font-size 2em
    color #3c3c3c

  .info-body
    color #3c3c3c
    border-top 2px solid #ba471e
    background-color #ece4b7
    width 100%
    padding 20px
    text-align left
    box-sizing border-box

    .description
      border-top 2px solid #ba471e
      margin 20px 10px
      box-sizing border-box
      padding 10px 0
      line-height 1.7em
      text-transform uppercase

    .link-block
      padding: 0 20px 20px;
      text-align: right;

      a
        color: #ba471e;
        text-transform: uppercase;

    .genome-type

      padding 10px;

      .geno
        color: #000;
        background-color: #eee;
        border-radius: 5px;
        padding: 2px 10px;
        letter-spacing: 3px;
        margin-right: 20px;

      .mag
        background-color: #eabe7c;
        padding: 2px 10px;
        border-radius: 5px;
        margin-right: 20px;

      .summary
        padding 2px;

      &.green
        .geno
          background-color #739c5b
          color: #fff;

      &.warning
        .geno
          background-color: #ba471e;
          color: #fff;
