.list-item
  border-bottom: 1px solid #ECE4B7;
  padding: 10px 10px;
  color: #fff;
  position relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D9DD92;
  text-decoration: none;

&:last-child
    border-bottom: none;

  .id
    display inline-block
    text-transform uppercase
    padding: 5px;
    border-radius 10px
    background-color #DD6031

  .title
    display: inline-block
    text-transform uppercase
    color: #311E10;
    padding: 5px 100px 5px 70px;

  .addition
    display inline-block
    padding: 5px;
    background: #60993E;
    border-radius: 10px;
    letter-spacing 2px
    min-width: 125px;

    &.true
      background: #E63B2E;

    .geno
      display inline-block
      padding: 0 10px;
      border-right: solid 2px #fff;

    .mag
      display inline-block
      padding: 0 10px;